<header class="header">
  <h1>IFVest</h1>
  <div class="header-search">
    <div class="search-bar">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Search" />
    </div>
    <i class="fas fa-user profile-icon"></i>
  </div>
</header>
