<aside class="sidebar">
  <nav>
    <ul>
      <li><i class="fa-solid fa-house" style="color: #02cf51;"></i> Início</li>
      <li><i class="fas fa-book"></i> Flashcards</li>
      <li><i class="fa-solid fa-compass"></i> Sobre nós</li>
      <li><i class="fas fa-cog"></i> Configurações</li>
    </ul>
  </nav>
</aside>
