<!-- views/selecionar.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IFVest - Selecionar Conteúdo</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <%- include('partials/sidebar') %>

      <main class="flashcard-content">
        <h2 class="title">Selecione o Conteúdo</h2>

        <form action="/flashcards" method="GET" class="filters">

          <select name="id_area" id="area" class="select" required>
            <option value="">Selecione a Área</option>
          </select>

          <select name="id_topico" id="topico" class="select">
            <option value="">Selecione o Tópico</option>
          </select>

          <select name="id_dificuldade" id="dificuldade" class="select">
            <option value="">Selecione a Dificuldade</option>
          </select>

          <button type="submit" class="simulado-btn">VER FLASHCARDS</button>
        </form>
      </main>
    </div>

    <script>

      async function carregarAreas() {
        const res = await fetch('/areas');
        const areas = await res.json();
        const select = document.getElementById('area');
        areas.forEach(a => {
          select.innerHTML += `<option value="${a.id_area}">${a.nome}</option>`;
        });
      }

      async function carregarTopicos(id_area) {
        const res = await fetch(`/topicos/${id_area}`);
        const topicos = await res.json();
        const select = document.getElementById('topico');
        select.innerHTML = '<option value="">Selecione o Tópico</option>';
        topicos.forEach(t => {
          select.innerHTML += `<option value="${t.id_topico}">${t.nome}</option>`;
        });
      }

      async function carregarDificuldades() {
        const res = await fetch('/dificuldades');
        const dificuldades = await res.json();
        const select = document.getElementById('dificuldade');
        dificuldades.forEach(d => {
          select.innerHTML += `<option value="${d.id_dificuldade}">${d.nivel}</option>`;
        });
      }


      document.getElementById('area').addEventListener('change', (e) => {
        const id_area = e.target.value;
        if (id_area) carregarTopicos(id_area);
      });

      window.onload = () => {
        carregarAreas();
        carregarDificuldades();
      };
    </script>
  </body>
</html>
